.login-form {
  padding: 2rem;
  margin-top: 2rem;
  background-color: #91a7ff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 30vw;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form-label {
  font-size: 1.8rem;
  font-weight: 600;
}

.login-form-input {
  height: 3rem;
  border: 2px solid transparent;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 1.6rem;
}

.invalid-input {
  background-color: pink;
  border: 2px solid red;
}

.login-form-input:focus {
  border-bottom: 2px solid #364fc7;
  outline-style: none;
}

.login-btn {
  background-color: #4c6ef5;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.login-btn:hover {
  background-color: #3b5bdb;
}
